body {color: white; font-size: 25px;}

a {text-decoration: none; color: #ffffff;}

header.header {padding-top: 20px; padding-bottom: 20px; width: 100%; background-color: rgb(11, 126, 40);}
img.header {margin-left: 30px; height: 50px; align-self: center;}
nav {display: flex; flex-direction: row; align-items: center;}
article.header {margin-left: 30px; font-size: 30px;}

.events {padding-block: 70px; display: grid; row-gap: 70px; grid-template-columns: auto auto auto; justify-content: space-evenly; background-image: url("Фон.png");}
section.event {max-width: 430px; min-height: 600px; background-color: rgb(12, 138, 44);}
img.event {width: 100%;}
h2.event, p.event, a.event {padding-left: 20px; padding-right: 20px;}